body{
    font-family: arial,sans-serif;
    font-size:small;
}
#navbar{
    top:0;
    left:0;
    right:0;
    width:100%;
    min-width:220px;
    font-size:13px;
    text-align:right;
}
#apps{
    background-image:url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position: -132px -38px;
    background-size: 538px 68px;
    opacity: .55;
    color:black;
    height:30px;
    width:30px;
    cursor:pointer;
    box-sizing: border-box;
    border-radius:2px;
}
#apps:hover{
    opacity: .85;
}
#logo{
    margin-top:47px;
    height:233px;
   
}
#google{
    padding-top:109px;
    height:92px;
    width:272px;
}
#centre{
    text-align:center;
}
#regional{
    font-size:small;
    margin-bottom:24px;
    margin-top:12px;
}
#lang{
    line-height:28px;
}
#lang a{
    text-decoration: none;
    padding-left:3px;
    padding-right:3px;
    color:#1a0dab;
}
#lang a:hover{
    text-decoration: underline;
}
#lang a:visited{
    color:#609;
}
#fbar{
    background:#f2f2f2;
    line-height:40px;
    min-width:980px;
    border-top:1px solid #e4e4e4;
    bottom:0;
    left:0;
    position:fixed;
    right:0;
    width:100%;
    font-size:14px;
    color:rgba(0,0,0,.54);
}
#fbar a{
    text-decoration:none;
    color:#5f6368;
    display:inline-block;
    padding-left:27px;
    margin:0 !important;
    cursor:pointer;
    white-space:nowrap;
    
}
#fbar a:hover{
    text-decoration:underline;
}
#fbar a:visited{
    color:#5f6368;
}
#fbar a:active{
    color:#dd4b39;
}
#loc-bar{
    border-bottom:1px solid #e4e4e4;
    text-align:left;
    color:rgba(0,0,0,.54);
    padding-left:27px;
    font-size:15px;
    margin-left:30px;
}
#foot-left{
    white-space: nowrap;
    margin-left:30px;
}
#foot-right{
    margin-right:30px;
    white-space: nowrap;
    float:right;
}
.low-fix{
    margin-left:-27px;
}